* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.conteyner {
    width: 1515px;
    height: auto;
    // height: 400px;
    border: 1px solid black;
    margin: auto;

    .navbar {
        width: 100%;
        height: 100px;
            display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // border-bottom: 1px solid rgb(185, 185, 185);

        .button1 {
            display: block;
            position: relative;
            width: 56px;
            height: 56px;
            margin: 0;
            overflow: hidden;
            outline: none;
            background-color: transparent;
            border: 0;

        }

        .button1:before,
        .button1:after {
            content: "";
            position: absolute;
            border-radius: 50%;
            inset: 7px;
        }

        .button1:before {
            border: 4px solid #9b9b9b;
            transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
        }

        .button1:after {
            border: 4px solid #96daf0;
            transform: scale(1.3);
            transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
            opacity: 0;
        }

        .button1:hover:before,
        .button1:focus:before {
            opacity: 0;
            transform: scale(0.7);
            transition: opacity .4s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.25, .46, .45, .94);
        }

        .button1:hover:after,
        .button1:focus:after {
            opacity: 1;
            transform: scale(1);
            transition: opacity .4s cubic-bezier(.77, 0, .175, 1) 80ms, transform .5s cubic-bezier(.455, .03, .515, .955) 80ms;
        }

        .button-box {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
        }

        .button-elem {
            display: block;
            width: 20px;
            height: 20px;
            margin: 17px 18px 0 18px;
            transform: rotate(180deg);
            fill: #a9a9a9;
        }

        .button1:hover .button-box,
        .button1:focus .button-box {
            transition: .4s;
            transform: translateX(-56px);
        }







        .ikonkalar {
            width: 200px;
            height: 100px;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &>img {
                width: 100px;
            }
        }

        .ikonkalar1 {
            width: 200px;
            height: 60px;

            // border-left: 2px solid rgb(175, 175, 175);
            // border-right: 2px solid rgb(182, 182, 182);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &>h3 {
                color: #ffffff;
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                background-color: #004cff;
            }

            &>h4 {
                color: #1F1F1F;
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }

        }

        .ikonkalar5 {
            width: 190px;
            height: 60px;
            border-left: 2px solid rgb(175, 175, 175);
            border-right: 2px solid rgb(182, 182, 182);

            &>ul {
                width: 190px;
                height: 60px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }

        }

        .ikonkalar2 {
            width: 190px;
            height: 60px;
            border-left: 2px solid rgb(175, 175, 175);
            border-right: 2px solid rgb(182, 182, 182);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &>h3 {
                color: #393939;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
        }

        .ikonkalar3 {
            width: 190px;
            height: 60px;


            // border-left: 2px solid rgb(175, 175, 175);
            // border-right: 2px solid rgb(182, 182, 182);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // flex-wrap: wrap;

            &>h2 {
                color: #393939;
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
                font-size: 20px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;

            }
        }

        // .ikonkalar4 {
        //     width: 100px;
        //     height: 60px;

            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
        }

        // .input-group {
        //     display: flex;
        //     align-items: center;
        // }

        // .input {
        //     min-height: 50px;
        //     max-width: 150px;
        //     padding: 0 1rem;
        //     color: #161515;
        //     font-size: 15px;
        //     border: 1px solid #5e4dcd;
        //     border-radius: 6px 0 0 6px;
        //     background-color: transparent;
        // }

        // .button--submit {
        //     min-height: 50px;
        //     padding: .5em 1em;
        //     border: none;
        //     border-radius: 0 6px 6px 0;
        //     background-color: #5e4dcd;
        //     color: #f7f0f0;
        //     font-size: 15px;
        //     cursor: pointer;
        //     transition: background-color .3s ease-in-out;
        // }

        // .button--submit:hover {
        //     background-color: #5e5dcd;
        // }

        // .input:focus,
        // .input:focus-visible {
        //     border-color: #3898EC;
        //     outline: none;
        // }












    }

    .navbar2 {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid rgb(185, 185, 185);
        display: flex;
        justify-content: space-around;
        align-items: center;


        &>ul {
            width: 1000px;
            height: 50px;
            margin: auto;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &>li {



                &>a {
                    color: #393939;
                    font-size: 16px;
                    font-weight: 800;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    width: 10px;

                    transition: 1s all;


                }

                &>a:hover {
                    transform: scale(0.7);
                    color: chocolate;


                }

            }
        }


        .searchbar {
            font-size: 14px;
            font-family: arial, sans-serif;
            color: #202124;
            display: flex;
            z-index: 3;
            height: 44px;
            background: white;
            border: 1px solid #dfe1e5;
            box-shadow: none;
            border-radius: 24px;
            margin: 0 auto;
            width: auto;
            max-width: 224px;
        }

        .searchbar:hover {
            box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
            border-color: rgba(223, 225, 229, 0);
        }

        .searchbar-wrapper {
            flex: 1;
            display: flex;
            padding: 5px 8px 0 14px;
        }

        .searchbar-left {
            font-size: 14px;
            font-family: arial, sans-serif;
            color: #202124;
            display: flex;
            align-items: center;
            padding-right: 13px;
            margin-top: -5px;
        }

        .search-icon-wrapper {
            margin: auto;
        }

        .search-icon {
            margin-top: 3px;
            color: #9aa0a6;
            height: 20px;
            line-height: 20px;
            width: 20px;
        }

        .searchbar-icon {
            display: inline-block;
            fill: currentColor;
            height: 24px;
            line-height: 24px;
            position: relative;
            width: 24px;
        }

        .searchbar-center {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
        }

        .searchbar-input-spacer {
            color: transparent;
            flex: 100%;
            white-space: pre;
            height: 34px;
            font-size: 16px;
        }

        .searchbar-input {
            background-color: transparent;
            border: none;
            margin: 0;
            padding: 0;
            color: rgba(0, 0, 0, .87);
            word-wrap: break-word;
            outline: none;
            display: flex;
            flex: 100%;
            margin-top: -37px;
            height: 34px;
            font-size: 16px;
            max-width: 100%;
            width: 100%;
        }

        .searchbar-right {
            display: flex;
            flex: 0 0 auto;
            margin-top: -5px;
            align-items: stretch;
            flex-direction: row
        }

        .searchbar-clear-icon {
            margin-right: 12px
        }

        .voice-search {
            flex: 1 0 auto;
            display: flex;
            cursor: pointer;
            align-items: center;
            border: 0;
            background: transparent;
            outline: none;
            padding: 0 8px;
            width: 2.8em;
        }



    }

    .Rectangle {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        padding: 50px 200px;

        &>h1 {
            color: #848484;
            // font-size: 20px;
        }

        .Rectangle1 {
            width: 100px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &>h5 {
                color: #848484;
                font-size: 20px;
            }

            &>h4 {
                color: #000000;
                font-size: 20px;
            }
        }
    }

    .Rectangle3 {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-image: url(photo_2023-10-29_14-39-58.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .Rectangle2 {
            width: 500px;
            height: 400px;

            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            // align-items: center;

            &>h1 {
                color: #faf7f7;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 51px;
                font-weight: 200;
                font-style: normal;
                text-transform: uppercase;
                padding: 40px 30px;
            }

            &>P {
                color: chocolate;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 12px;
                font-weight: 400;
                padding: 10px 30px;

            }

            &>h4 {
                color: #f3efef;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 16px;
                font-weight: 400;
                padding: 0px 30px;

            }

            &>h3 {
                color: #eeebeb;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 26px;
                font-weight: 700;
                padding: 0px 30px;

            }

            &>h2 {
                color: #ffffff;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 26px;
                font-weight: 400;
                padding: 0px 30px;

            }










        }

        .Rectangle4 {
            width: 500px;
            height: 400px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-width: 350px;
                // background-color: #fff;
                padding: 20px;
                border-radius: 20px;
                position: relative;
            }

            .title {
                font-size: 28px;
                color: royalblue;
                font-weight: 600;
                letter-spacing: -1px;
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 30px;
            }

            .title::before,
            .title::after {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                border-radius: 50%;
                left: 0px;
                background-color: royalblue;
            }

            .title::before {
                width: 18px;
                height: 18px;
                background-color: royalblue;
            }

            .title::after {
                width: 18px;
                height: 18px;
                animation: pulse 1s linear infinite;
            }

            .message,
            .signin {
                color: rgba(88, 87, 87, 0.822);
                font-size: 14px;
            }

            .signin {
                text-align: center;
            }

            .signin a {
                color: royalblue;
            }

            .signin a:hover {
                text-decoration: underline royalblue;
            }

            .flex {
                display: flex;
                width: 100%;
                gap: 6px;
            }

            .form label {
                position: relative;
            }

            .form label .input {
                width: 100%;
                padding: 10px 10px 20px 10px;
                outline: 0;
                border: 1px solid rgba(105, 105, 105, 0.397);
                border-radius: 10px;
            }

            .form label .input+span {
                position: absolute;
                left: 10px;
                top: 15px;
                color: grey;
                font-size: 0.9em;
                cursor: text;
                transition: 0.3s ease;
            }

            .form label .input:placeholder-shown+span {
                top: 15px;
                font-size: 0.9em;
            }

            .form label .input:focus+span,
            .form label .input:valid+span {
                top: 30px;
                font-size: 0.7em;
                font-weight: 600;
            }

            .form label .input:valid+span {
                color: green;
            }

            .submit {
                border: none;
                outline: none;
                background-color: royalblue;
                padding: 10px;
                border-radius: 10px;
                color: #fff;
                font-size: 16px;
                transform: .3s ease;
            }

            .submit:hover {
                background-color: rgb(56, 90, 194);
            }

            @keyframes pulse {
                from {
                    transform: scale(0.9);
                    opacity: 1;
                }

                to {
                    transform: scale(1.8);
                    opacity: 0;
                }
            }
        }


    }

    .ee154eb603 {
        width: 100%;
        height: 700px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .ee154eb6031 {
            width: 100%;
            height: 400px;
            background-image: url(ee154eb603\ 1.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        .ee154eb6032 {
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .ee154eb6033 {
                width: 300px;
                height: 60px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                &>h1 {
                    color: #232323;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 31px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }

            .ee154eb6034 {
                width: 700px;
                height: 60px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                &>h4 {
                    color: #000;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 400;
                }

                &>p {
                    color: #4d4d4d;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }
    }

    .blok {
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .blok1 {
            width: 600px;
            height: 200px;
            border-bottom: 3px solid rgb(179, 177, 177);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .rasm {
                width: 150px;
                height: 150px;

                &>img {
                    width: 150px;


                }

            }

            .rasm1 {
                width: 350px;
                height: 150px;

                &>h1 {
                    color: #323232;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;
                    /* 130% */
                    padding: 20px 10px;
                }

                &>p {
                    color: #323232;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    /* 137.5% */
                    padding: 0px 10px;

                }

                &>ul {
                    &>li {
                        padding: 30px 10px;

                        &>a {
                            color: #323232;
                            font-family: 'Courier New', Courier, monospace;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 22px;
                            /* 122.222% */
                            text-decoration-line: underline;

                        }
                    }
                }

            }

        }
    }

    .clos {
        width: 100%;
        height: 300px;
        background-color: #d8d8d866;
        display: flex;
        // flex-direction: row;
        // justify-content: space-around;
        align-items: center;

        .clos1 {
            width: 500px;
            height: 200px;
            // background-color: #F8F8F8;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .clos2 {
            width: 200px;
            height: 200px;
            // background-color: #F8F8F8;
            display: flex;
            // justify-content: center;
            // align-items: center;


            &>ul {
                padding: 50px 20px;

                &>li {
                    width: 200px;
                    height: 30px;

                    &>a {
                        color: #3E3E3E;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

        .clos3 {
            width: 300px;
            height: 150px;
            // background-color: #F8F8F8;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            &>ul {

                &>li {
                    width: 200px;
                    height: 30px;

                    &>a {
                        &>h4 {
                            color: #3E3E3E;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-transform: uppercase;

                        }

                        color: #3E3E3E;
                        font-family: Cambria,
                        Cochin,
                        Georgia,
                        Times,
                        'Times New Roman',
                        serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                    }
                }
            }

            .input {
                max-width: 190px;
                padding: 12px;
                border: none;
                border-radius: 4px;
                box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
                outline: none;
                color: dimgray;


            }

            .input:invalid {
                animation: justshake 0.3s forwards;
                color: red;
            }

            @keyframes justshake {
                25% {
                    transform: translateX(5px);
                }

                50% {
                    transform: translateX(-5px);
                }

                75% {
                    transform: translateX(5px);
                }

                100% {
                    transform: translateX-(5px);
                }
            }

        }

        .clos4 {
            width: 300px;
            height: 200px;
            // background-color: #F8F8F8;
            // display: flex;

            // justify-content: center;
            // align-items: center;

            &>ul {
                padding: 50px 60px;

                &>li {
                    width: 200px;
                    height: 30px;

                    &>a {

                        color: #3E3E3E;
                        font-family: Cambria,
                            Cochin,
                            Georgia,
                            Times,
                            'Times New Roman',
                            serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }

            &>h4 {
                color: #3E3E3E;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                padding: 0px 60px;

            }
        }

    }

    .pastkiqsm {
        width: 100%;
        height: 50px;
        border-top: 2px solid rgb(168, 168, 168);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .pastkiqsm1 {
            width: 500px;
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &>p {
                font-size: 16px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            }
        }
    }

}