* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.conteyner {
  width: 1515px;
  height: auto;
  border: 1px solid transparent;
  margin: auto;
  background-color: #fff;
}
.conteyner .navbar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.conteyner .navbar .button1 {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  border: 0;
}
.conteyner .navbar .button1:before,
.conteyner .navbar .button1:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}
.conteyner .navbar .button1:before {
  border: 4px solid #9b9b9b;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.conteyner .navbar .button1:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.conteyner .navbar .button1:hover:before,
.conteyner .navbar .button1:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.conteyner .navbar .button1:hover:after,
.conteyner .navbar .button1:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms, transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}
.conteyner .navbar .button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.conteyner .navbar .button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #a9a9a9;
}
.conteyner .navbar .button1:hover .button-box,
.conteyner .navbar .button1:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
.conteyner .navbar .ikonkalar {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.conteyner .navbar .ikonkalar > img {
  width: 100px;
}
.conteyner .navbar .ikonkalar1 {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteyner .navbar .ikonkalar1 > h3 {
  color: #ffffff;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background-color: #004cff;
}
.conteyner .navbar .ikonkalar1 > h4 {
  color: #1F1F1F;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.conteyner .navbar .ikonkalar5 {
  width: 190px;
  height: 60px;
  border-left: 2px solid rgb(175, 175, 175);
  border-right: 2px solid rgb(182, 182, 182);
}
.conteyner .navbar .ikonkalar5 > ul {
  width: 190px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.conteyner .navbar .ikonkalar2 {
  width: 190px;
  height: 60px;
  border-left: 2px solid rgb(175, 175, 175);
  border-right: 2px solid rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteyner .navbar .ikonkalar2 > h3 {
  color: #393939;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.conteyner .navbar .ikonkalar3 {
  width: 190px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteyner .navbar .ikonkalar3 > h2 {
  color: #393939;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.navbar2 {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(185, 185, 185);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar2 > ul {
  width: 1000px;
  height: 50px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar2 > ul > li > a {
  color: #393939;
  font-size: 16px;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 10px;
  transition: 1s all;
}
.navbar2 > ul > li > a:hover {
  transform: scale(0.7);
  color: chocolate;
}
.navbar2 .searchbar {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 44px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  max-width: 224px;
}
.navbar2 .searchbar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.navbar2 .searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}
.navbar2 .searchbar-left {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}
.navbar2 .search-icon-wrapper {
  margin: auto;
}
.navbar2 .search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.navbar2 .searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}
.navbar2 .searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.navbar2 .searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}
.navbar2 .searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}
.navbar2 .searchbar-right {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}
.navbar2 .searchbar-clear-icon {
  margin-right: 12px;
}
.navbar2 .voice-search {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 2.8em;
}

.Rectangle {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 50px 200px;
}
.Rectangle > h1 {
  color: #848484;
}
.Rectangle .Rectangle1 {
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Rectangle .Rectangle1 > h5 {
  color: #848484;
  font-size: 20px;
}
.Rectangle .Rectangle1 > h4 {
  color: #000000;
  font-size: 20px;
}

.Rectangle3 {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url(photo_2023-10-29_14-39-58.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Rectangle3 .Rectangle2 {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.Rectangle3 .Rectangle2 > h1 {
  color: #faf7f7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 51px;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  padding: 40px 30px;
}
.Rectangle3 .Rectangle2 > P {
  color: chocolate;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 30px;
}
.Rectangle3 .Rectangle2 > h4 {
  color: #f3efef;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 30px;
}
.Rectangle3 .Rectangle2 > h3 {
  color: #eeebeb;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 26px;
  font-weight: 700;
  padding: 0px 30px;
}
.Rectangle3 .Rectangle2 > h2 {
  color: #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 26px;
  font-weight: 400;
  padding: 0px 30px;
}
.Rectangle3 .Rectangle4 {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Rectangle3 .Rectangle4 .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
.Rectangle3 .Rectangle4 .title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.Rectangle3 .Rectangle4 .title::before,
.Rectangle3 .Rectangle4 .title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}
.Rectangle3 .Rectangle4 .title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}
.Rectangle3 .Rectangle4 .title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}
.Rectangle3 .Rectangle4 .message,
.Rectangle3 .Rectangle4 .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}
.Rectangle3 .Rectangle4 .signin {
  text-align: center;
}
.Rectangle3 .Rectangle4 .signin a {
  color: royalblue;
}
.Rectangle3 .Rectangle4 .signin a:hover {
  -webkit-text-decoration: underline royalblue;
          text-decoration: underline royalblue;
}
.Rectangle3 .Rectangle4 .flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
.Rectangle3 .Rectangle4 .form label {
  position: relative;
}
.Rectangle3 .Rectangle4 .form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
.Rectangle3 .Rectangle4 .form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.Rectangle3 .Rectangle4 .form label .input:-moz-placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}
.Rectangle3 .Rectangle4 .form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}
.Rectangle3 .Rectangle4 .form label .input:focus + span,
.Rectangle3 .Rectangle4 .form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}
.Rectangle3 .Rectangle4 .form label .input:valid + span {
  color: green;
}
.Rectangle3 .Rectangle4 .submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}
.Rectangle3 .Rectangle4 .submit:hover {
  background-color: rgb(56, 90, 194);
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.ee154eb603 {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ee154eb603 .ee154eb6031 {
  width: 100%;
  height: 400px;
  background-image: url(ee154eb603\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ee154eb603 .ee154eb6032 {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ee154eb603 .ee154eb6032 .ee154eb6033 {
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ee154eb603 .ee154eb6032 .ee154eb6033 > h1 {
  color: #232323;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 31px;
  font-weight: 500;
  text-transform: uppercase;
}
.ee154eb603 .ee154eb6032 .ee154eb6034 {
  width: 700px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ee154eb603 .ee154eb6032 .ee154eb6034 > h4 {
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}
.ee154eb603 .ee154eb6032 .ee154eb6034 > p {
  color: #4d4d4d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.blok {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.blok .blok1 {
  width: 600px;
  height: 200px;
  border-bottom: 3px solid rgb(179, 177, 177);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.blok .blok1 .rasm {
  width: 150px;
  height: 150px;
}
.blok .blok1 .rasm > img {
  width: 150px;
}
.blok .blok1 .rasm1 {
  width: 350px;
  height: 150px;
}
.blok .blok1 .rasm1 > h1 {
  color: #323232;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 130% */
  padding: 20px 10px;
}
.blok .blok1 .rasm1 > p {
  color: #323232;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
  padding: 0px 10px;
}
.blok .blok1 .rasm1 > ul > li {
  padding: 30px 10px;
}
.blok .blok1 .rasm1 > ul > li > a {
  color: #323232;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  /* 122.222% */
  text-decoration-line: underline;
}

.clos {
  width: 100%;
  height: 300px;
  background-color: rgba(216, 216, 216, 0.4);
  display: flex;
  align-items: center;
}
.clos .clos1 {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clos .clos2 {
  width: 200px;
  height: 200px;
  display: flex;
}
.clos .clos2 > ul {
  padding: 50px 20px;
}
.clos .clos2 > ul > li {
  width: 200px;
  height: 30px;
}
.clos .clos2 > ul > li > a {
  color: #3E3E3E;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.clos .clos3 {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.clos .clos3 > ul > li {
  width: 200px;
  height: 30px;
}
.clos .clos3 > ul > li > a {
  color: #3E3E3E;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.clos .clos3 > ul > li > a > h4 {
  color: #3E3E3E;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.clos .clos3 .input {
  max-width: 190px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}
.clos .clos3 .input:invalid {
  animation: justshake 0.3s forwards;
  color: red;
}
@keyframes justshake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX-(5px);
  }
}
.clos .clos4 {
  width: 300px;
  height: 200px;
}
.clos .clos4 > ul {
  padding: 50px 60px;
}
.clos .clos4 > ul > li {
  width: 200px;
  height: 30px;
}
.clos .clos4 > ul > li > a {
  color: #3E3E3E;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.clos .clos4 > h4 {
  color: #3E3E3E;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 60px;
}

.pastkiqsm {
  width: 100%;
  height: 50px;
  border-top: 2px solid rgb(168, 168, 168);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pastkiqsm .pastkiqsm1 {
  width: 500px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pastkiqsm .pastkiqsm1 > p {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}/*# sourceMappingURL=contect.css.map */