@font-face {
    font-family:
        Open Sans;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family:
        Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


$o:Open Sans;
$m:Montserrat;

body {
    background-color: #E5E5E5;
}


.container {
    max-width: 1366px;
    width: 100%;
    height: auto;
    margin: auto;
    border: 0px solid transparent;
    background-color: #fff;
}

.header {
    width: 100%;
    height: auto;

    &>.header__tation {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 25px 0px;

        &>img {
            width: 131px;
            height: 72px;
        }

        &>.header__tation__language {
            width: 80px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-right: 1px solid #E2E2E2;
            border-left: 1px solid #E2E2E2;

            &>button:first-child {
                width: 35px;
                height: 20px;
                background-color: transparent;
                border: none;
                border-radius: 2px;
                transition: all 0.5s;

                &>a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    line-height: 20px;
                    font-family: $o;
                    font-weight: 400;
                    font-size: 16px;
                    color:
                        #1F1F1F;
                }

            }

            &>button:first-child:hover {
                background-color:
                    blue;
                border-radius: 2px;

                &>a {
                    color:
                        #fff;
                }

            }

            &>button:last-child {
                width: 35px;
                height: 20px;
                background-color: #4AD295;
                border: none;
                border-radius: 2px;
                transition: all 0.5s;

                &>a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    line-height: 20px;
                    font-family: $o;
                    font-weight: 400;
                    font-size: 16px;
                    color:
                        #fff;
                }

            }

            &>button:last-child:hover {
                background-color:
                    transparent;
                border-radius: 2px;

                &>a {
                    color:
                        #1F1F1F;
                }

            }
        }

        &>.header__tation__curs {
            width: 125px;
            height: 40px;
            border-right: 1px solid #E2E2E2;
            border-left: 1px solid #E2E2E2;
            text-align: center;

            &>h4 {
                font-family: $o;
                font-weight: 400;
                font-size: 15px;
                color:
                    #393939;
            }
        }

        &>.header__tation__internat {
            width: 135px;
            height: 40px;
            border-right: 1px solid #E2E2E2;
            border-left: 1px solid #E2E2E2;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &>a {
                display: block;

                &>i {
                    font-size: 20px;
                    transition: all 0.5s;
                }
            }

            &>a {
                display: block;

                &>i:hover {
                    transform: scale(1.3);
                }
            }

        }

        &>.header__tation__number {
            width: 224px;
            height: 40px;
            border-right: 1px solid #E2E2E2;
            border-left: 1px solid #E2E2E2;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &>h4 {
                font-family: $o;
                font-weight: 700;
                font-size: 16px;
                color:
                    #393939;
            }

            &>img {
                width: 39px;
                height: 39px;
                transition: all 0.5s;
                cursor: pointer;
            }

            &>img:hover {
                transform: scale(1.2);
            }
        }

        &>.header__tation__date {
            width: 240px;
            height: 55px;
            background-color: #DD4053;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;

            &>form {
                &>input {
                    width: 185px;
                    height: 55px;
                    border: none;
                    outline: none;
                    background-color:
                        #EFF3F6;
                    padding: 0px 15px;
                    font-family: $m;
                    font-weight: 600;
                    font-size: 16px;
                    color:
                        #373737;
                }

                &>i {
                    font-size: 20px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }

        &>.header__tation__search {
            width: 240px;
            height: 55px;
            background-color:
                #4AD295;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;

            &>form {
                &>input {
                    width: 185px;
                    height: 55px;
                    border: none;
                    outline: none;
                    background-color:
                        #EFF3F6;
                    padding: 0px 15px;
                    font-family: $m;
                    font-weight: 600;
                    font-size: 16px;
                    color:
                        #373737;
                }

                &>i {
                    font-size: 20px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }
    }

    &>.header__navbar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &>.header__navbar__menu {
            width: 1093px;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 27px;
            padding: 15px 0px;

            &>li {
                transition: all 0.5s;
                cursor: pointer;

                &>a {
                    display: block;
                    font-family: $o;
                    font-weight: 400;
                    font-size: 15px;
                    color:
                        #171717;
                }
            }

            &>li:hover {
                &>a {
                    display: block;
                    font-family: $o;
                    font-weight: 400;
                    font-size: 15px;
                    color:
                        #4AD295;
                }
            }
        }
    }

}

.next__header {
    width: 100%;
    height: auto;
    padding: 30px 0px 0px 115px;

    &>h4 {
        font-family: $m;
        font-weight: 400;
        font-size: 12px;
        color:
            #969696;

        &>span {
            font-family: $m;
            font-weight: 400;
            font-size: 12px;
            color:

                #171717;
        }
    }
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px 0px;

    &>aside {
        width: 416px;
        height: auto;
        border: 1px solid transparent;

        &>h1 {
            font-family: $m;
            font-weight: 500;
            font-size: 31px;
            color: #232323;
        }

        &>h2 {
            width: 310px;
            height: 400px;
            font-family: $m;
            background: url(Image/lake-bled-castle-wedding-1024x768\ 3.png)no-repeat center / cover;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 400px;
            margin-left: 50px;
            
        }
    }

    &>section {
        width: 800px;
        height: 399px;
        border: 1px solid transparent;

        &>.secrtion__card:first-child {
            width: 100%;
            height: 140px;
            border-bottom: 1px solid #D0D0D0;
            display: flex;
            flex-direction: column;

            &>h4 {
                font-family: $m;
                font-weight: 500;
                font-size: 22px;
                color:
                    #323232;
            }

            &>p {
                font-family: $m;
                font-weight: 400;
                font-size: 16px;
                color:
                    #323232;
            }
        }

        &>.secrtion__card {
            width: 100%;
            height: auto;
            padding: 30px 38px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid #D0D0D0;
            &>h4 {
                font-family: $m;
                font-weight: 500;
                font-size: 22px;
                color:
                    #323232;
            }

            &>p {
                font-family: $m;
                font-weight: 400;
                font-size: 16px;
                color:
                    #323232;
                    margin-left: 20px;
            }
        }
    }
}