@font-face {
  font-family: Open Sans;
  src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #E5E5E5;
}

.container {
  max-width: 1366px;
  width: 100%;
  height: auto;
  margin: auto;
  border: 0px solid transparent;
  background-color: #fff;
}

.header {
  width: 100%;
  height: auto;
}
.header > .header__tation {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0px;
}
.header > .header__tation > img {
  width: 131px;
  height: 72px;
}
.header > .header__tation > .header__tation__language {
  width: 80px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
}
.header > .header__tation > .header__tation__language > button:first-child {
  width: 35px;
  height: 20px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  transition: all 0.5s;
}
.header > .header__tation > .header__tation__language > button:first-child > a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 20px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #1F1F1F;
}
.header > .header__tation > .header__tation__language > button:first-child:hover {
  background-color: blue;
  border-radius: 2px;
}
.header > .header__tation > .header__tation__language > button:first-child:hover > a {
  color: #fff;
}
.header > .header__tation > .header__tation__language > button:last-child {
  width: 35px;
  height: 20px;
  background-color: #4AD295;
  border: none;
  border-radius: 2px;
  transition: all 0.5s;
}
.header > .header__tation > .header__tation__language > button:last-child > a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 20px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.header > .header__tation > .header__tation__language > button:last-child:hover {
  background-color: transparent;
  border-radius: 2px;
}
.header > .header__tation > .header__tation__language > button:last-child:hover > a {
  color: #1F1F1F;
}
.header > .header__tation > .header__tation__curs {
  width: 125px;
  height: 40px;
  border-right: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  text-align: center;
}
.header > .header__tation > .header__tation__curs > h4 {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 15px;
  color: #393939;
}
.header > .header__tation > .header__tation__internat {
  width: 135px;
  height: 40px;
  border-right: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header > .header__tation > .header__tation__internat > a {
  display: block;
}
.header > .header__tation > .header__tation__internat > a > i {
  font-size: 20px;
  transition: all 0.5s;
}
.header > .header__tation > .header__tation__internat > a {
  display: block;
}
.header > .header__tation > .header__tation__internat > a > i:hover {
  transform: scale(1.3);
}
.header > .header__tation > .header__tation__number {
  width: 224px;
  height: 40px;
  border-right: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header > .header__tation > .header__tation__number > h4 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  color: #393939;
}
.header > .header__tation > .header__tation__number > img {
  width: 39px;
  height: 39px;
  transition: all 0.5s;
  cursor: pointer;
}
.header > .header__tation > .header__tation__number > img:hover {
  transform: scale(1.2);
}
.header > .header__tation > .header__tation__date {
  width: 240px;
  height: 55px;
  background-color: #DD4053;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.header > .header__tation > .header__tation__date > form > input {
  width: 185px;
  height: 55px;
  border: none;
  outline: none;
  background-color: #EFF3F6;
  padding: 0px 15px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  color: #373737;
}
.header > .header__tation > .header__tation__date > form > i {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.header > .header__tation > .header__tation__search {
  width: 240px;
  height: 55px;
  background-color: #4AD295;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.header > .header__tation > .header__tation__search > form > input {
  width: 185px;
  height: 55px;
  border: none;
  outline: none;
  background-color: #EFF3F6;
  padding: 0px 15px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  color: #373737;
}
.header > .header__tation > .header__tation__search > form > i {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.header > .header__navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header > .header__navbar > .header__navbar__menu {
  width: 1093px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
  padding: 15px 0px;
}
.header > .header__navbar > .header__navbar__menu > li {
  transition: all 0.5s;
  cursor: pointer;
}
.header > .header__navbar > .header__navbar__menu > li > a {
  display: block;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 15px;
  color: #171717;
}
.header > .header__navbar > .header__navbar__menu > li:hover > a {
  display: block;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 15px;
  color: #4AD295;
}

.next__header {
  width: 100%;
  height: auto;
  padding: 30px 0px 0px 115px;
}
.next__header > h4 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #969696;
}
.next__header > h4 > span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #171717;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 0px;
}
.content > aside {
  width: 416px;
  height: auto;
  border: 1px solid transparent;
}
.content > aside > h1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 31px;
  color: #232323;
}
.content > aside > h2 {
  width: 310px;
  height: 400px;
  font-family: Montserrat;
  background: url(Image/lake-bled-castle-wedding-1024x768\ 3.png) no-repeat center/cover;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 400px;
  margin-left: 50px;
}
.content > section {
  width: 800px;
  height: 399px;
  border: 1px solid transparent;
}
.content > section > .secrtion__card:first-child {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid #D0D0D0;
  display: flex;
  flex-direction: column;
}
.content > section > .secrtion__card:first-child > h4 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 22px;
  color: #323232;
}
.content > section > .secrtion__card:first-child > p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #323232;
}
.content > section > .secrtion__card {
  width: 100%;
  height: auto;
  padding: 30px 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #D0D0D0;
}
.content > section > .secrtion__card > h4 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 22px;
  color: #323232;
}
.content > section > .secrtion__card > p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #323232;
  margin-left: 20px;
}
.footer {
  width: 1400px;
  height: 260px;
  flex-shrink: 0;
  background: #F8F8F8;
  margin-top: 90px;
  padding: 60px 85px;
}

/*? footer__head start */

.footer__head {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.footer__head-info {
  display: flex;
  gap: 80px;
}

.footer__head-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__head-links a {
  color: #3E3E3E;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__head-links a:hover {
  transition: all 0.2s;
  color: #DD4053;
}

.footer__head-title1 {
  color: #3E3E3E;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
}

.footer__head-text {
  margin-top: 5px;
  color: #3E3E3E;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__head-number {
  color: #3E3E3E;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.footer__head-title2 {
  color: #3E3E3E;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  margin-top: 25px;
}

.footer__head-line {
  width: 1170px;
  height: 1px;
  flex-shrink: 0;
  border-radius: 2px;
  background: rgba(29, 29, 29, 0.20);
  margin-top: 40px;
}

/*? footer__head end */

/*? footer__body start */

.footer__body {
  width: 1170px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__head-logo {
  width: 156px;
  height: 86px;
  flex-shrink: 0;
}

.footer__body-title {
  color: rgba(62, 62, 62, 0.50);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__body-icons i {
  margin: 0 5px;
  color: #808080;
  font-size: 19px;
}

.footer__body-icons i:hover {
  cursor: pointer;
  transition: all 0.2s;
  color: #DD4053;
}

/*? footer__body end */

/*! footer end */
/*# sourceMappingURL=faq.css.map */