@font-face {
  font-family: Open Sans;
  src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #E5E5E5;
}

.container {
  max-width: 1366px;
  width: 100%;
  height: auto;
  margin: auto;
  border: 0px solid transparent;
  background-color: #fff;
}

.header {
  width: 100%;
  height: auto;
}
.header > .header__tation {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0px;
}
.header > .header__tation > img {
  width: 131px;
  height: 72px;
}
.header > .header__tation > .header__tation__language {
  width: 80px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
}
.header > .header__tation > .header__tation__language > button:first-child {
  width: 35px;
  height: 20px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  transition: all 0.5s;
}
.header > .header__tation > .header__tation__language > button:first-child > a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 20px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #1F1F1F;
}
.header > .header__tation > .header__tation__language > button:first-child:hover {
  background-color: blue;
  border-radius: 2px;
}
.header > .header__tation > .header__tation__language > button:first-child:hover > a {
  color: #fff;
}
.header > .header__tation > .header__tation__language > button:last-child {
  width: 35px;
  height: 20px;
  background-color: #4AD295;
  border: none;
  border-radius: 2px;
  transition: all 0.5s;
}
.header > .header__tation > .header__tation__language > button:last-child > a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 20px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.header > .header__tation > .header__tation__language > button:last-child:hover {
  background-color: transparent;
  border-radius: 2px;
}
.header > .header__tation > .header__tation__language > button:last-child:hover > a {
  color: #1F1F1F;
}
.header > .header__tation > .header__tation__curs {
  width: 125px;
  height: 40px;
  border-right: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  text-align: center;
}
.header > .header__tation > .header__tation__curs > h4 {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 15px;
  color: #393939;
}
.header > .header__tation > .header__tation__internat {
  width: 135px;
  height: 40px;
  border-right: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header > .header__tation > .header__tation__internat > a {
  display: block;
}
.header > .header__tation > .header__tation__internat > a > i {
  font-size: 20px;
  transition: all 0.5s;
}
.header > .header__tation > .header__tation__internat > a {
  display: block;
}
.header > .header__tation > .header__tation__internat > a > i:hover {
  transform: scale(1.3);
}
.header > .header__tation > .header__tation__number {
  width: 224px;
  height: 40px;
  border-right: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header > .header__tation > .header__tation__number > h4 {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16px;
  color: #393939;
}
.header > .header__tation > .header__tation__number > img {
  width: 39px;
  height: 39px;
  transition: all 0.5s;
  cursor: pointer;
}
.header > .header__tation > .header__tation__number > img:hover {
  transform: scale(1.2);
}
.header > .header__tation > .header__tation__date {
  width: 240px;
  height: 55px;
  background-color: #DD4053;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.header > .header__tation > .header__tation__date > form > input {
  width: 185px;
  height: 55px;
  border: none;
  outline: none;
  background-color: #EFF3F6;
  padding: 0px 15px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  color: #373737;
}
.header > .header__tation > .header__tation__date > form > i {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.header > .header__tation > .header__tation__search {
  width: 240px;
  height: 55px;
  background-color: #4AD295;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.header > .header__tation > .header__tation__search > form > input {
  width: 185px;
  height: 55px;
  border: none;
  outline: none;
  background-color: #EFF3F6;
  padding: 0px 15px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  color: #373737;
}
.header > .header__tation > .header__tation__search > form > i {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.header > .header__navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header > .header__navbar > .header__navbar__menu {
  width: 1093px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
  padding: 15px 0px;
}
.header > .header__navbar > .header__navbar__menu > li {
  transition: all 0.5s;
  cursor: pointer;
}
.header > .header__navbar > .header__navbar__menu > li > a {
  display: block;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 15px;
  color: #171717;
}
.header > .header__navbar > .header__navbar__menu > li:hover > a {
  display: block;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 15px;
  color: #4AD295;
}

.next__header {
  width: 100%;
  height: auto;
  padding: 30px 0px 0px 114px;
}
.next__header > h4 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #969696;
}
.next__header > h4 > span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #171717;
}

.content {
  width: 100%;
  height: auto;
  padding: 50px 115px;
}
.content > .content__header {
  width: 100%;
  height: auto;
}
.content > .content__header > h1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 31px;
  color: #232323;
}
.content > .content__footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
}
.content > .content__footer input {
  width: 220px;
  height: 50px;
  padding: 0px 20px;
  outline: none;
  border-radius: 2px;
  border: 1px solid rgba(46, 46, 46, 0.2);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: rgb(75, 75, 75);
}
.content > .content__footer > select {
  width: 220px;
  height: 50px;
  padding: 0px 20px;
  outline: none;
  border-radius: 2px;
  border: 1px solid rgba(46, 46, 46, 0.2);
  cursor: pointer;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: rgb(75, 75, 75);
}

.next__content {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.next__content > .next__content__header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.next__content > .next__content__header > h1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 45px;
  color: #232323;
}
.next__content > .next__content__header > button {
  width: 140px;
  height: 45px;
  border: 1px solid #969696;
  background-color: transparent;
  border-radius: 2px;
  transition: all 0.5s;
}
.next__content > .next__content__header > button > a {
  width: 100%;
  height: 100%;
  line-height: 45px;
  display: block;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  color: #969696;
}
.next__content > .next__content__header > button:hover {
  width: 140px;
  height: 45px;
  border: 1px solid transparent;
  background-color: #969696;
  border-radius: 2px;
}
.next__content > .next__content__header > button:hover > a {
  width: 100%;
  height: 100%;
  line-height: 45px;
  display: block;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.next__content > .next__content__footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.next__content > .next__content__footer > .next__content__footer__card:first-child {
  width: 327px;
  height: 480px;
  border: 1px solid transparent;
}
.next__content > .next__content__footer > .next__content__footer__card:first-child > .next__content__footer__card__aside {
  width: 100%;
  height: 50%;
  background: url(images/mandarina\ 2\ \(1\).png);
  overflow: hidden;
}
.next__content > .next__content__footer > .next__content__footer__card:first-child > .next__content__footer__card__aside > h4 {
  width: 195px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.35);
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.next__content > .next__content__footer > .next__content__footer__card:first-child > .next__content__footer__card__section {
  width: 100%;
  height: 50%;
  background-color: #F8F8F8;
  padding: 17px 20px;
}
.next__content > .next__content__footer > .next__content__footer__card:first-child > .next__content__footer__card__section > h1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  color: #323232;
}
.next__content > .next__content__footer > .next__content__footer__card:first-child > .next__content__footer__card__section > p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  color: #848484;
  margin-top: 30px;
}
.next__content > .next__content__footer > .next__content__footer__card:first-child > .next__content__footer__card__section > h4 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  color: #DD4053;
  margin-top: 32px;
}
.next__content > .next__content__footer > .next__content__footer__card:first-child > .next__content__footer__card__section > h4 > span {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  color: #C9C9C9;
}
.next__content > .next__content__footer > .next__content__footer__card:nth-child(2) {
  width: 327px;
  height: 480px;
  border: 1px solid transparent;
}
.next__content > .next__content__footer > .next__content__footer__card:nth-child(2) > .next__content__footer__card__aside {
  width: 100%;
  height: 50%;
  background: url(images/1491655\ 1.png);
  overflow: hidden;
}
.next__content > .next__content__footer > .next__content__footer__card:nth-child(2) > .next__content__footer__card__aside > h4 {
  width: 195px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.35);
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.next__content > .next__content__footer > .next__content__footer__card:nth-child(2) > .next__content__footer__card__section {
  width: 100%;
  height: 50%;
  background-color: #F8F8F8;
  padding: 17px 20px;
}
.next__content > .next__content__footer > .next__content__footer__card:nth-child(2) > .next__content__footer__card__section > h1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  color: #323232;
}
.next__content > .next__content__footer > .next__content__footer__card:nth-child(2) > .next__content__footer__card__section > p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  color: #848484;
  margin-top: 30px;
}
.next__content > .next__content__footer > .next__content__footer__card:nth-child(2) > .next__content__footer__card__section > h4 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  color: #DD4053;
  margin-top: 32px;
}
.next__content > .next__content__footer > .next__content__footer__card:nth-child(2) > .next__content__footer__card__section > h4 > span {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  color: #C9C9C9;
}
.next__content > .next__content__footer > .next__content__footer__card:last-child {
  width: 327px;
  height: 480px;
  border: 1px solid transparent;
}
.next__content > .next__content__footer > .next__content__footer__card:last-child > .next__content__footer__card__aside {
  width: 100%;
  height: 50%;
  background: url(images/276398231\ 1.png);
  overflow: hidden;
}
.next__content > .next__content__footer > .next__content__footer__card:last-child > .next__content__footer__card__aside > h4 {
  width: 195px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.35);
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.next__content > .next__content__footer > .next__content__footer__card:last-child > .next__content__footer__card__section {
  width: 100%;
  height: 50%;
  background-color: #F8F8F8;
  padding: 17px 20px;
}
.next__content > .next__content__footer > .next__content__footer__card:last-child > .next__content__footer__card__section > h1 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  color: #323232;
}
.next__content > .next__content__footer > .next__content__footer__card:last-child > .next__content__footer__card__section > p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  color: #848484;
  margin-top: 30px;
}
.next__content > .next__content__footer > .next__content__footer__card:last-child > .next__content__footer__card__section > h4 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  color: #DD4053;
  margin-top: 32px;
}
.next__content > .next__content__footer > .next__content__footer__card:last-child > .next__content__footer__card__section > h4 > span {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  color: #C9C9C9;
}

.center {
  width: 100%;
  height: auto;
  margin-top: 70px;
}
.center > .center__header {
  width: 100%;
  height: auto;
  text-align: center;
}
.center > .center__header > button {
  width: 270px;
  height: 60px;
  border-radius: 2px;
  border: 1px solid rgb(150, 150, 150);
  transition: all 0.5s;
}
.center > .center__header > button > a {
  width: 100%;
  height: 100%;
  line-height: 60px;
  display: block;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  color: rgb(150, 150, 150);
}
.center > .center__header > button:hover {
  width: 270px;
  height: 60px;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: rgb(150, 150, 150);
}
.center > .center__header > button:hover > a {
  width: 100%;
  height: 100%;
  line-height: 60px;
  display: block;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.center > .center__footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}
.center > .center__footer > .center__footer__cantent {
  max-width: 477px;
  width: 100%;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.center > .center__footer > .center__footer__cantent > h3 {
  width: 180px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: rgb(150, 150, 150);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.center > .center__footer > .center__footer__cantent > h3 > span {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  color: rgb(51, 51, 51);
}
.center > .center__footer > .center__footer__cantent > h3 > input {
  width: 50px;
  height: 20px;
  border-radius: 2px solid rgb(213, 213, 213);
  outline: none;
}
.center > .center__footer > .center__footer__cantent > h4 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: rgb(150, 150, 150);
}

.footer {
  width: 100%;
  height: 260px;
  flex-shrink: 0;
  background: #F8F8F8;
  padding: 60px 85px;
}

/*? footer__head start */
.footer__head {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__head-info {
  display: flex;
  gap: 80px;
}

.footer__head-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__head-links a {
  color: #3E3E3E;
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__head-links a:hover {
  transition: all 0.2s;
  color: #DD4053;
}

.footer__head-title1 {
  color: #3E3E3E;
  font-family: "Suisse Int'l";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
}

.footer__head-text {
  margin-top: 5px;
  color: #3E3E3E;
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__head-number {
  color: #3E3E3E;
  font-family: "Suisse Int'l";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.footer__head-title2 {
  color: #3E3E3E;
  font-family: "Suisse Int'l";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  margin-top: 25px;
}

.footer__head-line {
  max-width: 1170px;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  border-radius: 2px;
  background: rgba(29, 29, 29, 0.2);
  margin-top: 40px;
}

/*? footer__head end */
/*? footer__body start */
.footer__body {
  max-width: 1170px;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__head-logo {
  width: 156px;
  height: 86px;
  flex-shrink: 0;
}

.footer__body-title {
  color: rgba(62, 62, 62, 0.5);
  font-family: "Suisse Int'l";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__body-icons i {
  margin: 0 5px;
  color: #808080;
  font-size: 19px;
}

.footer__body-icons i:hover {
  cursor: pointer;
  transition: all 0.2s;
  color: #DD4053;
}

/*? footer__body end */
/*! footer end *//*# sourceMappingURL=katalgturov.css.map */